/* ==== FARBEN ==== */
/*
### Primary
- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%);
- Dark Blue (main background): hsl(218, 28%, 13%);
- Dark Blue (footer background): hsl(216, 53%, 9%);
- Dark Blue (testimonials background): hsl(219, 30%, 18%);
### Accent
- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%);
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%);
- Light Red (error): hsl(0, 100%, 63%);
### Neutral
- White: hsl(0, 0%, 100%);
*/

/* ==== SCHRIFTEN ==== */
/*
raleway-regular - latin
### Headings, Call-to-actions, Header Navigation
*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/*
open-sans-regular - latin
### Body
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* ==== Generelles ==== */
html {
  font-size: 87.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 28%, 15%);
}

body p,
body span {
  font-family: 'Open Sans';
  font-weight: 400;
  opacity: 0.75;
}

h1,
h2,
h3,
button  {
  font-family: 'Raleway';
  font-weight: 700;
}

a {
  font-family: 'Raleway';
  font-weight: 400;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* ==== NAVIGATIONSLEISTE ==== */
#header-nav-bereich {
  margin-top: 4.38rem;
}

.header-flex-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-flex-container > ul {
  padding: 0;
}

.header-flex-container > ul > li {
  display: inline-block;
  margin-left: 4rem;
}

.header-flex-container > ul > li > a {
  color: hsl(0, 0%, 100%);
  font-size: 1.143rem;
  opacity: 0.75;
  text-decoration: none;
}

.header-flex-container > ul > li > a:link {
  color: hsl(0, 0%, 100%);
}

.header-flex-container > ul > li > a:visited {
  color: hsl(0, 0%, 100%);
}

.header-flex-container > ul > li > a:hover {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  opacity: 1;
  text-decoration: underline;
}

.header-flex-container > ul > li > a:active {
  color: hsl(0, 0%, 100%);
}


/* ==== INTRO-BEREICH ==== */
#intro-bereich {
  margin-top: 4rem;
  text-align: center;
}
#intro-bereich h1 {
  font-size: 285.714%;
  line-height: 3.6rem;
  width: 71%;
  margin-top: 3rem;
}
#intro-bereich p {
  font-size: 142.857%;
  line-height: 2rem;
  width: 62%;
}
.intro-flex-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-img {
  background-image: url(../img/illustration-intro.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 74.166%;
}

.start-btn {
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(90deg, #63E1D9, #34A0CD);
  color: hsl(0, 0%, 100%);
  font-size: 114.285%;
  width: 280px;
  height: 56px;
  margin-top: 1.407rem;
}
.start-btn:hover {
  background: #8ADAE3;
}

/* BACKGROUND-CURVED */
#curvy-bg-bereich {
  position: relative;
  margin: 0;
}

.curvy-bg-gesamt {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -313;
  top: -260px;
}

.curvy-bg-head {
  background-image: url(../img/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 31.181%;
}
.curvy-bg-footer {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  height: 0;
  padding-top: 31.181%;
}

#bg-bereich {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  height: 100%;
}

/* ==== INFORMATIONS-BEREICH ==== */
#informations-bereich {
  margin-top: 20rem;
  text-align: center;
}

.info-grid-container {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  grid-gap: 6rem 3rem;
  grid-template-areas:
  "files-article trust-article"
  "collaboration-article store-type-article";
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.info-grid-container article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.info-grid-container article > h3 {
  font-size: 142.857%;
  margin-top: 0;
}

.files-article {
  grid-area: files-article;
}

.trust-article {
  grid-area: trust-article;
}

.collaboration-article {
  grid-area: collaboration-article;
}

.store-type-article {
  grid-area: store-type-article;
}

/* ==== ÜBER-FYLO-BEREICH ==== */
#ueber-fylo-bereich {
  margin-top: 8rem;
  padding-bottom: 4rem;
}

.fylo-grid-container {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 0 6rem;
  grid-template-areas:
  "fylo-img fylo-text";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.fylo-img {
  grid-area: fylo-img;
}

.fylo-img > img {
  width: 100%;
  height: auto;
}

.fylo-text {
  grid-area: fylo-text;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.fylo-text h1 {
  font-size: 285.714%;
  line-height: 3.6rem;
  width: 60%;
  margin-bottom: 1.5rem;
}

.fylo-text p {
  font-size: 114.285%;
  line-height: 1.8rem;
  width: 70%;
}

.fylo-link {
  border: 1px solid hsl(176, 68%, 64%);
  border-style: none none solid none;
  padding-bottom: 5px;
  display: inline-block;
}

.fylo-link a,
.fylo-link a:link,
.fylo-link a:visited {
  font-size: 114.285%;
  color: hsl(176, 68%, 64%);
  opacity: 0.75;
  text-decoration: none;
}

.fylo-link a:hover {
  font-size: 114.285%;
  color: hsl(0, 0%, 100%);
}

.fylo-link a:active {
  font-size: 114.285%;
  color: hsl(0, 0%, 100%);
}

.fylo-link:hover {
  border: 1px solid hsl(0, 0%, 100%);
  border-style: none none solid none;
  padding-bottom: 5px;
  display: inline-block;
}

.fylo-link svg {
  position: relative;
  top: 3px;
}


/* ==== KOMMENTAR-BEREICH ==== */
#kommentar-bereich {
  margin-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.kommentar-grid-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-template-areas:
  "kommentar1 kommentar2 kommentar3";
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.kommentar-grid-container article {
  border: 1px solid hsl(219, 30%, 18%);
  border-radius: 10px;
  padding: 2rem;
  background-color: hsl(219, 30%, 18%);
  width: 403px;
  height: 204px;
}

article.kommentar1:before {
content: "";
display: inline-block;
background-image: url(../img/bg-quotes.png);
background-repeat: no-repeat;
position: absolute;
left: -10px;
top: -30px;
width: 55px;
height: 45px;
}

article.kommentar1:after {
content: "";
display: block;
background-color: hsl(219, 30%, 18%);
width: 100px;
height: 20px;
border-radius: 10px 0 0 0;
position: relative;
bottom: 170px;
left: -29px;
z-index: 435;
}

.kommentar1 {
  grid-area: kommentar1;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}
.kommentar2 {
  grid-area: kommentar2;
  margin-left: auto;
  margin-right: auto;
}
.kommentar3 {
  grid-area: kommentar3;
  margin-left: 0;
  margin-right: auto;
}

.kommentator {
  margin-top: 2rem;
  display: relative;
}
.kommentator > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}

.kommentator > span:nth-of-type(1) {
  display: inline-block;
  font-size: 107.142%;
  font-weight: 700;
  margin-bottom: 4px;
  opacity: 1;
}

.kommentator > span:nth-of-type(2) {
  font-size: 100%;
  font-weight: 400;
  clear: right;
}


/* ==== MEDIAQUERIES-NAVIGATIONSLEISTE ==== */
@media (max-width: 563px) {
  #header-nav-bereich {
    margin-top: 1.5rem;
  }

  .header-flex-container img {
    width: 80px;
    height: auto;
  }

  .header-flex-container > ul > li {
    margin-left: 2rem;
  }

  .header-flex-container > ul > li > a {
    font-size: 75%;
  }
}

/* ==== MEDIAQUERIES-INTRO-BEREICH ==== */
@media (max-width: 1670px) {
  #intro-bereich h1 {
    width: 82%;
  }
  #intro-bereich p {
    width: 72%;
  }
}

@media (max-width: 1440px) {
  #intro-bereich h1 {
    width: 95%;
  }
  #intro-bereich p {
    width: 83%;
  }
}

@media (max-width: 1251px) {
  .intro-flex-container {
    width: 55%
  }
  #intro-bereich h1 {
    width: 100%;
  }
  #intro-bereich p {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .intro-flex-container {
    width: 50%
  }
  #intro-bereich h1 {
    font-size: 215.714%;
    line-height: 2.6rem;
    width: 100%;
  }
  #intro-bereich p {
    font-size: 122.857%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .intro-flex-container {
    width: 90%
  }
  #intro-bereich h1 {
    font-size: 171.714%;
    line-height: 2.6rem;
    width: 60%;
  }
  #intro-bereich p {
    font-size: 100%;
    width: 60%;
  }
}

@media (max-width: 480px) {
  #intro-bereich h1 {
    width: 95%;
  }
  #intro-bereich p {
    width: 85%;
  }
}

@media (max-width: 425px) {
  #intro-bereich h1 {
    width: 90%;
    margin-top: 1.5rem;
  }
  #intro-bereich p {
    width: 80%;
  }
}

@media (max-width: 375px) {
  #intro-bereich h1 {
    margin-bottom: .5rem;
  }
  #intro-bereich p {
    width: 90%;
  }
}

/* MEDIAQUERIES-BACKGROUND-CURVED */
@media (max-width: 768px) {
  #curvy-bg-bereich {
    position: relative;
    margin: 0;
  }

  .curvy-bg-gesamt {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -313;
    top: -410px;
  }

  .curvy-bg-head {
    background-image: url(../img/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 37.6%;
  }
  .curvy-bg-footer {
    background-color: hsl(218, 28%, 13%);
    width: 100%;
    height: 0;
    padding-top: 47.6%;
  }
}

@media (max-width: 654px) {
  .curvy-bg-gesamt {
    top: -450px;
  }
  .curvy-bg-footer {
    padding-top: 100%;
  }
}

@media (max-width: 480px) {
  .curvy-bg-gesamt {
    top: -380px;
  }
}

@media (max-width: 375px) {
  .curvy-bg-gesamt {
    top: -390px;
  }
  .curvy-bg-footer {
    padding-top: 150%;
  }
}

/* ==== MEDIAQUERIES-INFORMATIONS-BEREICH ==== */
@media(max-width: 1568px) {
  #informations-bereich {
    margin-top: 15rem;
  }
  .info-grid-container article {
    width: 85%;
  }
}

@media(max-width: 1440px) {
  #informations-bereich {
    margin-top: 12rem;
  }
  .info-grid-container {
    grid-gap: 6rem 3rem;
    width: 70%;
  }
  .info-grid-container article {
    width: 80%;
  }
}

@media(max-width: 1251px) {
  #informations-bereich {
    margin-top: 9rem;
  }
  .info-grid-container {
    grid-gap: 6rem 3rem;
    width: 80%;
  }
  .info-grid-container article {
    width: 80%;
  }
}

@media(max-width: 1024px) {
  #informations-bereich {
    margin-top: 9rem;
  }
  .info-grid-container {
    grid-gap: 6rem 3rem;
    width: 90%;
  }
  .info-grid-container article {
    width: 80%;
  }
}

@media(max-width: 916px) {
  #informations-bereich {
    margin-top: 9rem;
  }
  .info-grid-container {
    grid-gap: 6rem 1rem;
    width: 90%;
  }
  .info-grid-container article {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #informations-bereich {
    margin-top: 9rem;
  }
  .info-grid-container {
    display: grid;
    grid-template: auto / 1fr;
    grid-gap: 5rem;
    grid-template-areas:
    "files-article"
    "trust-article"
    "collaboration-article"
    "store-type-article";
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .info-grid-container article {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .info-grid-container article svg {
    margin-bottom: 1.5rem;
  }
  .info-grid-container article > h3 {
    font-size: 128.571%;
  }
}

@media (max-width: 480px) {
  .info-grid-container article {
    width: 78%;
  }
}

@media (max-width: 375px) {
  .info-grid-container article {
    width: 94%;
  }
}

@media (max-width: 320px) {
  .info-grid-container article {
    width: 100%;
  }
}

/* ==== MEDIAQUERIES-ÜBER-FYLO-BEREICH ==== */
@media (max-width: 1584px) {
  .fylo-grid-container {
    width: 90%;
  }
  .fylo-text h1 {
    width: 70%;
  }
  .fylo-text p {
    width: 95%;
  }
}

@media (max-width: 1144px) {
  .fylo-text h1 {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .fylo-grid-container {
    grid-gap: 0 3rem;
  }
  .fylo-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .fylo-text h1 {
    font-size: 215.714%;
    line-height: 2.6rem;
    margin-top: .5rem;
  }

  .fylo-text p,
  .fylo-link a,
  .fylo-link a:link,
  .fylo-link a:visited {
    font-size: 100%;
  }
  .fylo-text p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .fylo-grid-container {
    display: grid;
    grid-template: auto / 1fr;
    grid-template-areas:
    "fylo-img"
    "fylo-text";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .fylo-text {
    align-items: center;
  }
  .fylo-text h1 {
    font-size: 128.571%;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
  }

  .fylo-text p {
    width: 80%;
  }

  .fylo-link a,
  .fylo-link a:link,
  .fylo-link a:visited {
    font-size: 85.714%;
  }
}

@media (max-width: 480px) {
  .fylo-text h1 {
    margin-bottom: 0;
  }
  .fylo-text p {
    width: 95%;
  }
}

@media (max-width: 325px) {
  .fylo-text h1 {
    font-size: 118.571%;
  }
}


/* ==== MEDIAQUERIES-KOMMENTAR-BEREICH ==== */
@media (max-width: 1440px) {
  .kommentar-grid-container article {
    padding: 2rem;
    width: 360px;
    height: 200px;
  }
  .kommentator > img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 7px;
  }

  .kommentator > span:nth-of-type(1) {
    font-size: 71.429%;
    margin-bottom: 0;
    position: relative;
    bottom: 4px;
  }

  .kommentator > span:nth-of-type(2) {
    font-size: 50%;
    position: relative;
    bottom: 6px;
  }
  article.kommentar1:before {
  left: -10px;
  top: -35px;
  }

  article.kommentar1:after {
  bottom: 179px;
  left: -29px;
  }
}

@media (max-width: 1260px) {
  .kommentar-grid-container article {
    padding: 1rem;
    width: 330px;
    height: 170px;
  }
  .kommentar1 {
    grid-area: kommentar1;
    margin-left: 0;
    margin-right: auto;
    position: relative;
  }
  .kommentar2 {
    grid-area: kommentar2;
    margin-left: auto;
    margin-right: auto;
  }
  .kommentar3 {
    grid-area: kommentar3;
    margin-left: auto;
    margin-right: 0;
  }
  article.kommentar1:before {
  left: -10px;
  top: -35px;
  }

  article.kommentar1:after {
  bottom: 165px;
  left: -15px;
  }
}

@media (max-width: 1140px) {
  .kommentar-grid-container article {
    padding: .5rem;
    width: 300px;
    height: 140px;
  }
  .kommentar-grid-container article p {
    font-size: 90%;
  }
  .kommentator {
    margin-top: .5rem;
    display: relative;
  }
  article.kommentar1:after {
  bottom: 136px;
  left: -8px;
  }
}

@media (max-width: 1024px) {
  .kommentar-grid-container {
    display: grid;
    grid-template: auto / 1fr;
    grid-gap: 5rem 0;
    grid-template-areas:
    "kommentar1"
    "kommentar2"
    "kommentar3";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .kommentar1,
  .kommentar2,
  .kommentar3 {
    margin-left: auto;
    margin-right: auto;
  }
  .kommentar-grid-container article {
    border: 1px solid hsl(219, 30%, 18%);
    border-radius: 10px;
    padding: 2rem 2rem .5rem;
    background-color: hsl(219, 30%, 18%);
    width: 403px;
    height: 204px;
  }

  article.kommentar1:before {
  content: "";
  display: block;
  background-image: url(../img/bg-quotes.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  top: -35px;
  width: 55px;
  height: 45px;
  }

  article.kommentar1:after {
  content: "";
  display: block;
  background-color: hsl(219, 30%, 18%);
  width: 100px;
  height: 20px;
  border-radius: 10px 0 0 0;
  position: relative;
  bottom: 165px;
  left: -29px;
  z-index: 435;
  }
  .kommentator {
    margin-top: 2rem;
    display: relative;
  }
  .kommentator > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
  }

  .kommentator > span:nth-of-type(1) {
    display: inline-block;
    font-size: 107.142%;
    font-weight: 700;
    margin-bottom: 4px;
    opacity: 1;
    position: relative;
    top: 2px;
  }

  .kommentator > span:nth-of-type(2) {
    font-size: 100%;
    font-weight: 400;
    clear: right;
    position: relative;
    top: 3px;
  }
}

@media (max-width: 580px) {
  .kommentar-grid-container {
    grid-gap: 2rem 0;
  }
  .kommentar-grid-container article {
    border: 1px solid hsl(219, 30%, 18%);
    border-radius: 10px;
    padding: 1rem 2rem .5rem;
    background-color: hsl(219, 30%, 18%);
    width: 280px;
    height: 160px;
  }
  .kommentar-grid-container article p {
    font-size: 71.429%;
    line-height: 18px;
  }
  .kommentator {
    margin-top: .5rem;
    display: relative;
  }
  .kommentator > img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
    position: relative;
    top: 7px;
  }
  .kommentator > span:nth-of-type(1) {
    display: inline-block;
    font-size: 71.429%;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 1;
    position: relative;
    top: 2px;
  }
  .kommentator > span:nth-of-type(2) {
    font-size: 50%;
    font-weight: 400;
    clear: right;
    position: relative;
    top: 0;
  }
  article.kommentar1:after {
  position: relative;
  bottom: 140px;
  left: -29px;
  z-index: 453;
  }
}

@media (max-width: 375px) {
  #kommentar-bereich {
    margin-top: 4rem;
  }
}
